opentelemetry-api==1.14.0
opentelemetry-exporter-otlp==1.14.0
opentelemetry-instrumentation==0.35b0
opentelemetry-instrumentation-flask==0.35b0
opentelemetry-instrumentation-requests==0.35b0
opentelemetry-instrumentation-wsgi==0.35b0
opentelemetry-propagator-b3==1.14.0
opentelemetry-proto==1.14.0
opentelemetry-sdk==1.14.0
opentelemetry-util-http==0.35b0
opentelemetry-propagator-ot-trace==0.35b0
pytest
flask
