opentelemetry-api==1.16.0
opentelemetry-exporter-otlp==1.16.0
opentelemetry-instrumentation==0.37b0
opentelemetry-instrumentation-flask==0.37b0
opentelemetry-instrumentation-requests==0.37b0
opentelemetry-instrumentation-wsgi==0.37b0
opentelemetry-propagator-b3==1.16.0
opentelemetry-proto==1.16.0
opentelemetry-sdk==1.16.0
opentelemetry-util-http==0.37b0
opentelemetry-propagator-ot-trace==0.37b0
pytest
flask
