opentelemetry-api==1.17.0
opentelemetry-exporter-otlp==1.17.0
opentelemetry-instrumentation==0.38b0
opentelemetry-instrumentation-flask==0.38b0
opentelemetry-instrumentation-requests==0.38b0
opentelemetry-instrumentation-wsgi==0.38b0
opentelemetry-propagator-b3==1.17.0
opentelemetry-proto==1.17.0
opentelemetry-sdk==1.17.0
opentelemetry-util-http==0.38b0
opentelemetry-propagator-ot-trace==0.38b0
pytest
flask
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
